<div class="title-box">
    <h2 class="title-bolder">THEY TRUSTED US</h2>
    <b class="dots">...</b>
    <p>Thank you all!</p>
</div>
<div id="container">
    <ngb-carousel>
        <ng-template *ngFor="let project of projects" ngbSlide>
            <div class="flex-slide">
                <div class="description">
                    <h3>{{ 'work.' + project + '.name' | translate }}</h3>
                    <p>{{ 'work.' + project + '.headline' | translate }}</p>
                </div>
                <div class="picsum-img-wrapper">
                    <img [src]="'work.' + project + '.image' | translate" [attr.alt]="project + ' icon'" loading="lazy">
                </div>
            </div>
        </ng-template>
      </ngb-carousel>
</div>
