<div class="page-container">
    <div class="title-icon">
        <h1 class="title-page">{{ 'services.' + serviceKey + '.name' | translate }}</h1>
        <img class="icon" [src]="'services.' + serviceKey + '.icon' | translate" [attr.alt]="serviceKey + ' icon'" loading="lazy">
    </div>
    <div class="section">
        <div class="offer-part">
            <div class="details">
                <h2>Offer</h2>
                <ul *ngIf="('services.' + serviceKey + '.offer.packs' | translate).length > 0">
                    <li *ngFor="let pack of 'services.' + serviceKey + '.offer.packs' | translate">
                        <h3>{{ pack.title }}</h3>
                        <p>{{ pack.description }}</p>
                    </li>
                </ul>
                <p [innerHTML]="'services.' + serviceKey + '.offer.description' | translate"></p>
                <a class="btn-small btn-gold" routerLink="/contact">Get a free quote</a>
            </div>
        </div>
        <div *ngFor="let paragraph of 'services.' + serviceKey + '.paragraphs' | translate">
            <br>
            <h2>{{ paragraph.title }}</h2>
            <p class="text" [innerHTML]="paragraph.text"></p>
            <ul *ngIf="paragraph.paragraphs && paragraph.paragraphs.length > 0">
                <br>
                <li *ngFor="let subParagraph of paragraph.paragraphs">
                    <div>
                        <h3>{{ subParagraph.title }}</h3>
                        <p class="text" [innerHTML]="subParagraph.text"></p>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <a class="btn-small btn-gold" routerLink="/contact">Get a free quote</a>
    </div>
</div>