@import 'src/sass/variables';

.offer-part {
    margin-bottom: 20px;
    h2 {
        background-color: $blue-dark;
        color: #fff;
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 20px;
    }
    .details {
        border: 1px solid $blue-dark;
        border-radius: 3px;
        padding: 20px;
    }
    .details h3 {
        text-decoration: underline;
    }
}

.title-icon {
    display:  flex;
    align-items: center;
    .icon {
        height: 70px; 
        margin-left: 20px;
    }
}

.text {
    text-align: justify;
    margin: 0;
}


ul {
    list-style: circle;
}

@media screen and (max-width: 768px) {
    .icon {
        height: 180px; 
        width:180px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}