@import 'src/sass/variables';

footer {
    z-index: 1;
    color: $white;
    background-color: $blue-dark;
    // height: $footerHeight;
    padding: 30px $global-sides-padding-xl;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
        color: #fff;
        margin-left: 40px;
    }
}

@media screen and (max-width: 2000px) {
    footer {
        padding: 30px $global-sides-padding-xl;
    }
}

@media screen and (max-width: 1500px) {
    footer {
        padding: 30px $global-sides-padding;
    }
}

@media screen and (max-width: 1100px) {
    footer {
        padding: 30px $global-sides-padding-medium;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 30px $global-sides-padding-small;
    }
}

@media screen and (max-width: 710px) {
    #copyright {
        margin-top: 25px;
    }
    .links a:first-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        padding: 30px $global-sides-padding-xs;
    }
}