<footer>
    <div id="copyright">
        <span>&copy; Blockbrainers {{ currentYear }}</span>
    </div>
    <div class="links">
        <a href="https://t.me/olivier_blockbrainers" target="_blank"><app-icon [icon]="icon.TELEGRAM" color="#FFF"></app-icon></a>
        <a href="https://blockbrainers.medium.com/" target="_blank"><app-icon [icon]="icon.MEDIUM" color="#FFF"></app-icon></a>
        <a href="#"><app-icon [icon]="icon.TWITTER" color="#FFF"></app-icon></a>
        <a href="https://www.linkedin.com/company/blockbrainers" target="_blank"><app-icon [icon]="icon.LINKEDIN" color="#FFF"></app-icon></a>
        <a href="mailto: hello@blockbrainers.com" target="_blank"><app-icon [icon]="icon.EMAIL" color="#FFF"></app-icon></a>
    </div>
</footer>