<div class="testimonial-quote group">
    <img src="../../../../assets/images/about/olivier-riccini.jpg" alt="picture Olivier Riccini" loading="lazy">
    <div class="quote-container">
        <blockquote>
            <!-- <p> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
                Hey! I'm Olivier from Blockbrainers. I'm a software developer specialized in Blockchain technology.
                Passionate about all kinds of blockchain-related stuff, 
                I decided to found Blockbrainers to contribute to this great ecosystem by helping companies and individuals embrace Blockchain technology. 
                I've been working on different projects now, mainly focused on DeFi (Decentralized Finance). 
                I'm also a crypto holder and a Defi investor. 
                So I'd be more than glad to help you out with your project in anyways.
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
            <!-- </p> -->
        </blockquote>  
        <cite><span>Best regards,</span><br>
            <span>Olivier</span><br>
            <a *ngIf="displayBtn" class="btn-small btn-white" routerLink="contact">Contact me!</a>
        </cite>
    </div>
</div>
